body.full-img {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

img {
	/*padding: 0;
	border: 0;*/
	height: 100vh;     
    width: auto;       
    object-fit: cover; 
    display: block;
}

body.full-img h2 {
    position: absolute;
    top: 77%;
    left: 49%;
    color: white;
    font-size: 35pt;
    /*/*z-index: 10;*/
}

body.full-img footer {
    position: absolute;
    top: 96%;
    left: 2%;
    color: white;
    font-size: 10pt;
    /*z-index: 10;
}